<!-- PULL REQUEST ANALYZER GITHUB ACTION -->

:wave: I'm a robot checking the state of this pull request to save the human reveiwers time. I noticed this PR added or modififed the data files under `_data/projects/` so I had a look at what's changed.

As you make changes to this pull request, I'll re-run these checks.

#### `_data/projects/error_site_link_url.yml` :x:
I had some troubles parsing the project file, or there were fields that are missing that I need.

Here's the details:
> - Field '/site' expects a URL but instead found 'foo'. Please check and update this value.
