<!-- PULL REQUEST ANALYZER GITHUB ACTION -->

:wave: I'm a robot checking the state of this pull request to save the human reveiwers time. I noticed this PR added or modififed the data files under `_data/projects/` so I had a look at what's changed.

As you make changes to this pull request, I'll re-run these checks.

#### `_data/projects/project.yml` :x:
I have some suggestions about the tags used in the project:

> - Rename tag 'aspnet' to be 'asp.net'
> - Rename tag 'dotnet' to be '.net'
> - Rename tag 'nodejs' to be 'node.js'
